.button {
  padding: 1.2rem;
  min-width: 14rem;
  outline: none;
  border: none;
  background: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary));
  border-radius: var(--border-radius);
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.185);

  &:disabled {
    opacity: 0.7;
  }
}
